body {
    background-color: rgb(10, 150, 168);
    color: white;
}


section{
    background: rgb(8, 69, 182);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}  
img {
    height: 200px;
}

.conhecimento-geral{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}